// Custom styles.
p { margin: 0 0 10px 0; }

.posts-expand .post-title {
    background-color: #ececec;
    line-height: 1em;
    padding: .32em .48em;
    margin-bottom: .4em;
    box-shadow: 2px 2px 5px #b1b1b1;
}

.posts-expand .post-title-link {
  &::before {
    height: 2px;
    bottom: -7px;
  }
}

.post-body p a {
    color: #0593d3;
    border-bottom: none;
  
    &:hover {
      text-decoration: underline;
    }
}
